<h1><%= t :app_name %></h1>
<p><%= t :top_intro %></p>
<%=link_to "#{t :top_devotions}", devotions_path, class: "top_nav" %>
<%=link_to "#{t :top_audios}", audios_path, class: "top_nav" %>
<%=link_to "#{t :top_videos}", videos_path, class: "top_nav" %>
<%#=link_to "#{t :top_images}", images_path, class: "top_nav" %>
