<div id="main-content">
  <%=form_with model: @audio, local: true do |form| %>

    <%= render 'partials/error', locals: { model: @audio } %>


      <%= form.label :title, :class => "required" %><br>
      <%= form.text_field :title %>

      <%= form.label :date %><br>
      <%= date_select :audio, :date%><br>

      <%= form.label :description, :class => "required" %><br>
      <%= form.text_area :description %>

      <%= form.label :audio_file, :class => "required" %><br>
      <%= form.file_field :audio_file %>

      <%= form.label :passage %><br>
      <%= form.text_field :passage %>

      <%= form.label :speaker %><br>
      <%= form.text_field :speaker %>

      <%= form.label :original_air %><br>
      <%= date_select :audio, :original_air%>

      <%= form.label :program_num %><br>
      <%= form.text_field :program_num %>

      <%= form.submit %>

  <% end %>
</div>