<% content_for(:js) do %>
  <%= javascript_include_tag 'photo', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= form_with model: @person, local: true, id: 'form-main', html: { autocomplete: 'off' } do |form| %>
  <%= form.hidden_field :context, value: (params[:context].nil? ? @person.context : params[:context])%>
  <%= form.hidden_field :category, value: (params[:category].nil? ? @person.category : params[:category]) %>
  <div class="form-area form-flex">
    <%= render 'partials/error', locals: { model: @person } %>
    <div class="form-flex-child">
      <div class="form-row">
        <%= form.label :name, "#{t :'activerecord.attributes.people.name'}", class: "required" %>
        <%= form.text_field :name %>
      </div>
      <div class="form-row">
        <%= form.label :profile, "#{t :'activerecord.attributes.people.profile'}" %>
        <%= form.text_area :profile, style: 'height: 500px' %>
      </div>
    </div>

    <div class="form-area form-flex-child">
      <div class="form-row form-center">
        <%= form.label :photo, "#{t :photo}" %>
        <%= form.file_field :photo, accept: 'image/*', class: 'file-field' %>
      </div>
      <h2 class="bulk-or" style="text-align: center">-- <%= "#{t :or}"%> --</h2>
      <div class="form-row drag-drop" style="width:80%; height: 400px">
        <% if action_name == 'edit' %>
          <% if @person.photo_link.nil? %>
            <%= image_tag('avatar.png') %>
            <p><%= "#{t :photo_drag_drop}" %></p>
          <% else %>
            <%= image_tag('http://pba.evangeltek.com/profile_pictures/' + @person.photo_link, class: 'profile-pic') %>
          <% end %>
        <% else %>
          <%= image_tag('avatar.png') %>
          <p><%= "#{t :photo_drag_drop}" %></p>
        <% end %>
      </div>
    </div>

  </div>

  <%= form.submit id:"submit-form" %>
<% end %>