<h1><%= t :devotions_list %></h1>

<table id="index-table">
  <% if @devotion.first.nil? %>
    <tr>
      <th><%= t :none %></th>
    </tr>
  <% else %>
    <tr>
      <th id="cell-id">PBA ID</th>
      <th id="cell-title"><%= t :'activerecord.attributes.devotion.title' %></th>
      <th class="cell-release-date"><%= t :'activerecord.attributes.devotion.release_date' %></th>
      <th><%= t :'activerecord.attributes.devotion.messenger' %></th>
      <th><%= t :'activerecord.attributes.devotion.bible_passage' %></th>
      <th><%= t :'activerecord.attributes.devotion.genre_list' %></th>
      <th><%= t :'activerecord.attributes.devotion.theme_list' %></th>
      <th><%= t :'activerecord.attributes.devotion.special_list' %></th>
      <th colspan="3"><%= t :table_action %></th>
      <th><input type="checkbox"></th>
    </tr>
    <% @devotion.each do |devotion| %>
      <tr>
        <td><%= devotion.pba_id %></td>
        <td><%= devotion.title %></td>
        <td class="cell-release-date"><%= devotion.release_date %></td>
        <td><%= devotion.messenger %></td>
        <td><%= devotion.bible_book %> <%= devotion.bible_chapter_verse %></td>
        <td><%= devotion.genre_list %></td>
        <td><%= devotion.theme_list %></td>
        <td><%= devotion.special_list %></td>
        <td><%= link_to image_tag('magnifying-glass.png', title: "#{t :table_view}"), devotion_path(devotion) %></td>
        <td><%= link_to image_tag('edit.png', title: "#{t :table_edit}"), edit_devotion_path(devotion) %></td>
        <td><%= link_to image_tag('garbage.png', title: "#{t :table_delete}"), devotion_path(devotion), method: :delete, data: { confirm: "test"}%></td>
        <td><input type="checkbox"></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= paginate @devotion, window: 4 %>
<%= page_entries_info @devotion, entry_name: "#{t :'activerecord.attributes.devotion.devotion'}"%>
