<% content_for(:js) do %>
  <%= javascript_include_tag 'date', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'delete_selected', 'data-turbolinks-track': 'reload' %>
<% end %>
<h1><%= t :devotions_list %></h1>

<%= render 'search' %>

<%= form_with url: :destroy_selected_devotions, id: 'delete-selected-form', local: true do %>

<table id="index-table">
  <% unless @devotion.first.nil? %>
  <tr id="index-header-row">
    <th style="width:8%">PBA ID</th>
    <th style="width:17%"><%=  t :'activerecord.attributes.devotion.title'  %></th>
    <th style="width:120px"><%=  t :'activerecord.attributes.devotion.broadcast_date'  %></th>
    <th style="width:13%"><%=  t :'activerecord.attributes.devotion.messenger' %></th>
    <th style="width:14%"><%=  t :bible_passage  %></th>
    <th style="width:16%"><%=  t :tag_genre  %></th>
    <th style="width:16%"><%=  t :tag_theme  %></th>
    <th style="width:16%"><%=  t :tag_special  %></th>
    <th style="width:70px" colspan="3"><%=  t :table_action  %></th>
    <th style="width:20px"><%=  check_box_tag 'select_all'  %></th>
  </tr>

  <%  @devotion.each do |devotion|  %>
    <tr>
      <td><%= devotion.pba_id  %></td>
      <td><%= devotion.title %></td>
      <td><%= devotion.broadcast_date  %></td>
      <td><%= devotion.messenger %></td>
      <td><%= devotion.bible_book  %> <%= devotion.bible_chapter_verse %></td>
      <td><%= devotion.genre_list  %></td>
      <td><%= devotion.theme_list %></td>
      <td><%= devotion.special_list  %></td>
      <td class="no-expand"><%=  link_to image_tag('magnifying-glass.png', title: "#{t :table_view}"), devotion_path(devotion)  %></td>
      <td class="no-expand"><%=  link_to image_tag('edit.png', title: "#{t :table_edit}"), edit_devotion_path(devotion)  %></td>
      <td class="no-expand"><%=  link_to image_tag('garbage.png', title: "#{t :table_delete}"), devotion_path(devotion), method: :delete, data: { confirm: "#{t :general_delete_confirm}"} %></td>
      <td class="no-expand"><%= check_box_tag('selected[]', devotion.id) %></td>
      </tr>
    <%  end  %>
  <% end %>
<% end %>
</table>
<%= paginate @devotion, window: 4 %>
<%= page_entries_info @devotion, entry_name: "#{t :'activerecord.attributes.devotion.devotion'}"%>
