<h1><%= t :devotions_list %></h1>

<table class="index-table">
  <% if @devotion.first.nil? %>
    <tr>
      <th><%= t :none %></th>
    </tr>
  <% else %>
    <tr>
      <th>PBA ID</th>
      <th><%= t :'activerecord.attributes.devotion.title' %></th>
      <th><%= t :'activerecord.attributes.devotion.date' %></th>
      <th><%= t :'activerecord.attributes.devotion.messenger' %></th>
      <th><%= t :'activerecord.attributes.devotion.bible_passage' %></th>
      <th><%= t :'activerecord.attributes.devotion.genre_tags' %></th>
      <th><%= t :'activerecord.attributes.devotion.theme_tags' %></th>
      <th><%= t :'activerecord.attributes.devotion.special_tags' %></th>
    </tr>
    <% @devotion.each do |devotion| %>
      <tr>
        <td><%= devotion.pba_id %></td>
        <td><%= devotion.title %></td>
        <td><%= devotion.release_date %></td>
        <td><%= devotion.messenger %></td>
        <td><%= devotion.bible_book + " " + devotion.bible_chapter_verse %></td>
        <td><%= devotion.genre_list %></td>
        <td><%= devotion.theme_list %></td>
        <td><%= devotion.special_list %></td>
        <td><%= link_to "#{t :table_view}", devotion_path(devotion) %></td>
        <td><%= link_to "#{t :table_edit}", edit_devotion_path(devotion) %></td>
        <td><input type="checkbox"></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= paginate @devotion, window: 4 %>
