<h1><%= t :devotions_list %></h1>

<table class="index-table">
  <% if @devotion.first.nil? %>
    <tr>
      <th><%= t :none %></th>
    </tr>
  <% else %>
    <tr>
      <th><%= t :'activerecord.attributes.devotion.title' %></th>
      <th><%= t :'activerecord.attributes.devotion.date' %></th>
      <th><%= t :'activerecord.attributes.devotion.messenger' %></th>
    </tr>
    <% @devotion.each do |devotion| %>
      <tr>
        <td><%= devotion.title %></td>
        <td><%= devotion.release_date %></td>
        <td><%= devotion.messenger %></td>
        <td><%= link_to "#{t :table_view}", devotion_path(devotion) %></td>
        <td><%= link_to "#{t :table_edit}", edit_devotion_path(devotion) %></td>
        <td><%= link_to "#{t :table_delete}", devotion_path(devotion),
                        method: :delete,
                        data: { confirm: "#{t :table_confirm}" } %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= link_to_next_page @devotion, 'Next Page' %>
