<% content_for(:js) do %>
  <%= javascript_include_tag 'tabs', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'delete_selected', 'data-turbolinks-track': 'reload' %>
<% end %>
<h1><%= "#{t :options_programs}" %></h1>
<div class="tab-bar">
  <button class="tab"><%= "#{t :options_programs_radio}" %></button>
  <button class="tab"><%= "#{t :options_programs_tv}" %></button>
</div>
<div class="tab-content">
  <%= render 'options_programs', locals: {type: 'audio'}%>
</div>
<div class="tab-content">
  <%= render 'options_programs', locals: {type: 'video'}%>
</div>