<%= form_tag(locals[:bulk_path], multipart: true, method: :post) do %>
  <%= file_field_tag "bulk_csv", id: 'file-field', accept: '.csv'  %>

  <h2 id="bulk-h2">-- <%= "#{t :or}"%> --</h2>

  <div id="drag-drop">
    <%= image_tag('files.png', id: 'drag-drop-img') %>
    <p><%= "#{t :bulk_drag_drop}" %>"</p>
  </div>

  <%= button_tag "Submit", id: 'submit-button', disabled: true %>

<% end %>