<% if controller.controller_name != 'top' %>
  <ul id="menu">
    <% if controller.controller_name == :devotions.to_s or
        controller.controller_name == :audios.to_s or
        controller.controller_name == :videos.to_s %>
      <li class="<%= 'menu-active' if controller.action_name == :summary.to_s %>"><%= link_to "#{t :menu_summary}", controller: controller.controller_name, action: :summary %></li>
      <li class="<%= 'menu-active' if controller.action_name == :index.to_s %>"><%= link_to "#{t :menu_list}", controller: controller.controller_name %></li>
      <li class="<%= 'menu-active' if controller.action_name == :new.to_s %>"><%= link_to "#{t :menu_create}", controller: controller.controller_name, action: :new %></li>
      <li class="<%= 'menu-active' if controller.action_name == :bulk.to_s %>"><%= link_to "#{t :menu_bulk}", controller: controller.controller_name, action: :bulk %></li>
    <% elsif controller.controller_name == :options.to_s %>
      <li class="<%= 'menu-active' if controller.action_name == :tags.to_s %>"><%= link_to "#{t :menu_tags}", controller: controller.controller_name, action: :tags %></li>
      <li class="<%= 'menu-active' if controller.action_name == :people.to_s %>"><%= link_to "#{t :menu_people}", controller: controller.controller_name, action: :people %></li>
      <li class="<%= 'menu-active' if controller.action_name == :schedule.to_s %>"><%= link_to "#{t :menu_schedule}", controller: controller.controller_name, action: :schedule %></li>
      <li class="<%= 'menu-active' if controller.action_name == :delete.to_s %>"><%= link_to "#{t :menu_delete}", controller: controller.controller_name, action: :delete %></li>
    <% end %>
  </ul>
<% end %>