<ul id="nav">
  <li class="nav-right"><%= link_to "日本語", request.parameters.merge({locale: :ja}) %> | <%= link_to "English", request.parameters.merge({locale: :en}) %></li>
  <% if controller.controller_name != :top.to_s%>
    <li><%= link_to "#{t :top_home}", root_path %></li>
    <li class="<%= 'nav-active' if controller.controller_name == :devotions.to_s %>"><%= link_to "#{t :top_devotions}", summary_devotions_path %></li>
    <li class="<%= 'nav-active' if controller.controller_name == :audios.to_s %>"><%= link_to "#{t :top_audios}", summary_audios_path %></li>
    <li class="<%= 'nav-active' if controller.controller_name == :videos.to_s %>"><%= link_to "#{t :top_videos}", summary_videos_path %></li>
<!--    <li class="<%#= 'nav-active' if controller.controller_name == :images.to_s %>"><%#= link_to "#{t :top_images}", images_path %></li>-->
    <li class="<%= 'nav-active' if controller.controller_name == :options.to_s %>"><%= link_to "#{t :top_options}", options_path %></li>
  <% end %>
</ul>