<table class="show-table">
  <% locals[:record].attributes.each do |field, value| %>
    <% if field != 'id' and field != 'created_at' and field != 'updated_at' and field != 'genre_list' and field != 'theme_list' and field != 'special_list' and field != 'for_sale'%>
      <tr>
        <th><%= locals[:record].class.human_attribute_name(field) %></th>
        <td><%= value %></td>
      </tr>
    <% elsif field == 'for_sale' %>
      <tr>
        <th><%= locals[:record].class.human_attribute_name(field) %></th>
        <td>
          <% if value.to_s == 'true' %>
              &#x25ef
            <% else %>
              &#x2715
            <% end %>
        </td>
      </tr>
    <% elsif field == 'genre_list' %>
      <tr>
        <th><%= locals[:record].class.human_attribute_name(field) %></th>
        <td><%= locals[:record].genre_list %></td>
      </tr>
    <% elsif field == 'theme_list' %>
      <tr>
        <th><%= locals[:record].class.human_attribute_name(field) %></th>
        <td><%= locals[:record].theme_list %></td>
      </tr>
    <% elsif field == 'special_list' %>
      <tr>
        <th><%= locals[:record].class.human_attribute_name(field) %></th>
        <td><%= locals[:record].special_list %></td>
      </tr>
    <% end %>
  <% end %>
</table>
