<%=form_with model: @video, local: true do |form| %>

  <%= render 'layouts/error', locals: { model: @video } %>

  <p>
    <%= form.label :title, :class => "required" %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :date %><br>
    <%= date_select :video, :date%><br>
  </p>
  <p>
    <%= form.label :description, :class => "required" %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :passage %><br>
    <%= form.text_field :passage %>
  </p>
  <p>
    <%= form.label :speaker %><br>
    <%= form.text_field :speaker %>
  </p>
  <p>
    <%= form.label :link, :class => "required" %><br>
    <%= form.text_field :link %>
  </p>
  <p>
    <%= form.label :filename %><br>
    <%= form.text_field :filename %>
  </p>
  <p>
    <%= form.label :original_air %><br>
    <%= date_select :video, :original_air%>
  </p>
  <p>
    <%= form.label :program_num %><br>
    <%= form.text_field :program_num %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>