<h1>Videos List</h1>
<%=link_to "Add New Videos", action: :new, controller: 'videos' %>

<table>
  <% if @video.first.nil? %>
    <tr>
      <th>No content</th>
    </tr>
  <% else %>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Speaker</th>
      <th>Bible Passage</th>
    </tr>
    <% @video.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.date %></td>
        <td><%= video.speaker %></td>
        <td><%= video.passage %></td>
        <td><%= link_to 'Show', video_path(video) %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video_path(video),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%=link_to "Back to Top", controller:'top' %>