<h1><%= "#{t :bulk_fail}" %></h1>
<h2 class="bulk-error"><%= pluralize(@result[1].length, "#{t :row}") %><%= "#{t :bulk_fail_cause}" %></h2>
<table class="bulk-error bulk-error-table">
  <tr>
    <th><%= "#{t :error_line}" %></th>
    <th><%= "#{t :error_header}"%></th>
  </tr>

  <% @result[1].each_with_index do |v, i| %>
    <tr>
      <td><%= v %></td>
      <td><%= render 'partials/error', locals: { model: @result[2][i]} %></td>
    </tr>
  <% end %>
</table>