<!DOCTYPE html>
<html>
  <head>
    <title><%= t :app_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <%= render 'partials/nav' %>
      <%= render 'partials/menu' %>
      <% if controller.controller_name == :top.to_s %>
        <%= yield %>
      <% else %>
        <div id="main-content">
          <%= yield %>
        </div>
      <% end %>
    </div>
  </body>
</html>
